/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --page-background-color: #000028;
  --page-background-image: url("../images/cover-image-dark.png");
  --title-color: #db00ff;
  --accent-color: #ff0070;
  --title-decor-background-color: var(--accent-color);
  --title-decor-text-color: #000028;
  --content-text-color: #f1b2ce;
  --decor-color: #ff0070;
  --section-title-color: #ff0070;
  --menu-button-color: #ff0070;
  --menu-button-hover-color: rgb(255 0 112 / 40%);
}
