/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */
.page {
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
  background-image: var(--page-background-image);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-color: var(--page-background-color);
  font-family: "IBM Plex mono", sans-serif;
  gap: var(--page-gap, 40px);
  display: flex;
  flex-direction: column;
}

/*                                             */

.header {
  position: relative;
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  height: 100vh;
  min-height: 668px;
  padding-block: 10px;
  padding-inline: 10px;
}

.header__theme-menu {
  align-self: center;
  justify-self: end;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.header__theme-menu-button {
  border: 1px solid transparent;
  padding: 0 13px;
  color: var(--menu-button-color);
  font-family: inherit;
  font-size: 18px;
  line-height: 23.4px;
  text-transform: lowercase;
  background-color: transparent;
}

.header__theme-menu-button_active {
  border-color: var(--menu-button-color);
  pointer-events: none;
}

.header__theme-menu-button:hover {
  border-color: var(--menu-button-hover-color);
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-color: transparent;
  border-bottom-color: var(--menu-button-color);
}

.header__title {
  font-size: var(--title-size);
  color: var(--title-color);
  text-shadow: 4px 4px 0 var(--accent-color);
  font-weight: bold;
  align-self: start;
  justify-self: start;
  line-height: 83%;
}

.header__title-text {
  color: var(--title-decor-text-color);
  font-weight: bold;
  align-self: center;
  justify-self: end;
  font-size: 18px;
  line-height: 23.4px;
}

/*                                      */

.decor {
  position: absolute;
  inset-block-start: 10px;
  inset-inline-end: 10px;
  inline-size: 60px;

  color: var(--decor-color);
  font-size: 18px;
  line-height: 25px;
}

.decor::after {
  content: "";
  position: absolute;
  inset-block-start: 8px;
  inset-inline-end: 8px;
  inline-size: 9px;
  block-size: 9px;
  border-radius: 50%;
  background-color: var(--decor-color);
  box-shadow: 0 0 4px 2px var(--decor-color);
}

.decor__corner {
  position: relative;
}

.decor__corner::before,
.decor__corner::after {
  content: "";
  position: absolute;
  inline-size: 25px;
  block-size: 25px;
}

.decor__corner::before {
  inset-block-start: 10px;
  inset-inline-end: 10px;
  border-block-start: 1px solid var(--decor-color);
  border-inline-end: 1px solid var(--decor-color);
}

.decor__corner::after {
  inset-block-end: 10px;
  inset-inline-start: 10px;
  border-block-end: 1px solid var(--decor-color);
  border-inline-start: 1px solid var(--decor-color);
}

/*                                     */

.content {
  display: flex;
  flex-direction: column;
  gap: var(--content-gap, 50px);
  padding-inline: 10px;
}

.section {
  display: flex;
  flex-direction: column;
  gap: var(--section-gap, 20px);
  font-family: inherit;
  font-size: 18px;
  line-height: 23.4px;
}

.title-decor {
  background-color: var(--title-decor-background-color);
}

.section__title {
  color: var(--section-title-color);
  font-size: inherit;
}

.section__li-title {
  color: var(--title-decor-text-color);
  font-size: inherit;
}

.section__ul-list {
  display: flex;
  flex-direction: column;
  gap: var(--card-list-gap, 20px);
}

.section__li-item {
  display: flex;
  flex-direction: column;
  gap: var(--card-content-gap, 10px);
}

.section__p-text {
  color: var(--content-text-color);
}

.section__tips {
  display: flex;
  flex-direction: column;
  gap: var(--card-list-gap);
}

.section__tips-title {
  margin: 0;
  color: var(--title-decor-text-color);
  font-size: inherit;
  font-weight: 400;
}

.link {
  text-decoration: none;
  text-shadow: 2px 2px 0 var(--accent-color);
}

.link:hover {
  border-block-end: 1px solid currentColor;
}

.link:focus {
  outline: none;
}

.link:focus-visible {
  outline: 1px solid currentColor;
}

/*                               */

.gallery {
  gap: var(--card-content-gap);
}

.gallery__title {
  margin: 0;
  color: var(--title-decor-text-color);
  font-size: inherit;
}

.gallery__images {
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--card-content-gap);
}

.gallery__image {
  display: block;
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
}

/*                        */

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  min-height: 668px;
  padding-inline: 10px;
}

.footer__title {
  margin: 0;
  color: var(--title-color);
  font-size: var(--title-size);
  font-weight: bold;
  line-height: 83%;
  text-shadow: 2px 2px 0 var(--accent-color);
}

@media (width >= 768px) {
  :root {
    --title-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    --page-gap: 60px;
    --content-gap: 80px;
  }

  .header,
  .content,
  .footer {
    padding-inline: 20px;
  }

  .header {
    padding-block: 20px;
  }

  .header,
  .footer {
    min-height: 1024px;
  }

  .header__title {
    margin-inline-start: -20px;
  }

  .header__title-text {
    inline-size: 50%;
  }

  .decor {
    inset-block-start: 20px;
    inset-inline-end: 20px;
  }

  .decor__corner::before {
    inset-block-start: 20px;
    inset-inline-end: 20px;
  }

  .decor__corner::after {
    inset-block-end: 20px;
    inset-inline-start: 20px;
  }

  .section:not(.gallery) {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: var(--section-gap);
  }

  .section:not(.gallery) > .section__ul-list,
  .section__tips {
    grid-column: 2;
  }

  .section.section__for-desktop > .section__ul-list {
    grid-column: 1 / -1;
  }

  .gallery {
    gap: var(--section-gap);
  }

  .gallery__images {
    grid-template-columns: repeat(3, 1fr);
    gap: var(--section-gap);
  }

  .gallery__image:first-child {
    grid-column: span 2;
  }

  .gallery__image:nth-child(2),
  .gallery__image:nth-child(3) {
    grid-row: span 2;
  }

  .gallery__image:last-child {
    grid-column: span 2;
  }
}

@media (width >= 1024px) {
  .header,
  .footer {
    min-height: 768px;
  }

  .header__theme-menu {
    align-self: start;
    justify-self: center;
  }

  .header__theme-menu-list {
    flex-direction: row;
  }

  .section:not(.gallery) {
    grid-template-columns: repeat(3, 1fr);
  }

  .section:not(.gallery) > .section__ul-list,
  .section__tips {
    grid-column: 2 / 4;
  }

  .section.section__for-desktop > .section__ul-list {
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--section-gap);
  }
}
