/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  /* Подогнал все css-переменные под kebab-case */
  --accent-color: rgba(255, 0, 112, 1);
  --title-decor-background-color: var(--accent-color);
  --page-background-image: url("../images/cover-image-dark.png");
  --title-color: rgba(219, 0, 255, 1);
  --title-decor-text-color: rgba(0, 0, 40, 1);
  --title-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  --content-text-color: rgba(241, 178, 206, 1);

  --menu-button-color: #ff0070;
  --menu-button-hover-color: rgb(255 0 112 / 40%);

  --page-gap: 40px;
  --content-gap: 50px;
  --section-gap: 20px;
  --card-list-gap: 20px;
  --card-content-gap: 10px;

  --page-background-color: #000028;
  --decor-color: #ff0070;
  --section-title-color: #ff0070;
}
